# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and database files
*.log
*.sqlite3
*.db

# Unit test / coverage reports
.coverage
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm IDE
.idea/

# VSCode settings
.vscode/

# macOS hidden files
.DS_Store

# Windows hidden files
Thumbs.db

# Docker
docker-compose*.yaml
Dockerfile
